---
import FormattedDate from './FormattedDate.astro';

const { id, data, classNames, emojiFilterClass } = Astro.props;
---

<li class={classNames}>
  <a href={`${import.meta.env.BASE_URL}/thoughts/${id}/`} class="inline-block w-[100%] hover:underline">
    {data.iconHero && (
      <img class={`float-left hover:shadow-md hover:shadow-gray-brown w-10 !h-10 inline-block ${emojiFilterClass}`} src={data.iconHero.src} alt="" />
    )}
    {data.iconEmoji && (
      <span class={`float-left text-3xl ${emojiFilterClass}`}>{data.iconEmoji}</span>
    )}<span class="thought-title float-left ml-4 max-w-3/4 text-left capitalize truncate" title={data.page_title}>{data.page_title}</span><FormattedDate date={data.pubDate} classNames="float-right text-sm"/>
  </a>
  <hr class="my-2 opacity-25"/>
</li>
