---
import { Image } from 'astro:assets';
import TagList from '../components/util/TagList.astro';
import Modal from '../components/modal/Modal';
import { closeTab } from '../consts';

const { relatedData } = Astro.props;
const {imageScreenshots: detailImages, organization, stackHighlights, title: page_title } = relatedData;
---
<article>
  <div>
    <a id="back-button" class="back-work" href="#"><span class="arrow">╰┈➤</span> <span class="arrow-label">back</span></a>
  </div>
  <div class="text-left">
    <h4>{organization}</h4>
    { stackHighlights &&
      <TagList items={stackHighlights} />
    }
  </div>
  </div>
  <div class="text-center m-8">
    {detailImages && detailImages.map((entry: string, index: number) => (
      <Image
        id={`image-${index}`}
        data-index={index}
        width={400}
        height={200}
        src={`${import.meta.env.BASE_URL}${entry}`}
        alt=""
        class="image-preview mx-auto zoom-detail-bad border-steel-blue-faded border-2 mb-4 hover:cursor-pointer hover:opacity-75 duration-500"
      />
      <Modal src={`${import.meta.env.BASE_URL}${entry}`} id={`modal-${index}`} caption={page_title} client:load />
    ))}

  </div>
  <div class="prose">
    <div class="title text-center">
      <h5>{page_title}</h5>
      <hr class="border-solid border-t border-t-gray-light" />
    </div>
  </div>
</article>

<!-- writing the script server-side to access helper in frontmatter -->
<script is:inline set:html={`
  const handler = ${closeTab};
  document.getElementById('back-button')?.addEventListener('click', () => {
    handler(window);
  });

  const imagePreviewList = document.querySelectorAll('.image-preview');
  imagePreviewList.forEach(item => {
    const ind = item.dataset.index;
    item.addEventListener('click', () => {
      document.getElementById('modal-'+ind).classList.remove('hidden');
    });
  });
`}/>